---
layout: archive
---

{{ content }}

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
{% include head-dark.html %}

<div class="container-fluid">
	<section class="article archive">
	  <article class="archive-wrap">
		<p class="intro"></p>I am a research assistant at the Center of High-energy and High-field Physics at National Central University, Taiwan. My current work focuses on background simulations of Higgs Dalitz decay in Compact Muon Solenoid collaboration.<br><br>
		<!-- <a id="mail" href="mailto:haorenjheng21@gmail.com?subject=Inquiry">Feel free to contact me</a> if you want to discuss with me.</p> -->

		<p style="text-align:center">
			<a href="mailto:haorenjheng21@gmail.com"><i class="fas fa-envelope"></i>Email</a>
			<a href="https://github.com/hrjheng"><i class="fab fa-github"></i>GitHub</a>
		</p>

		<figure><center><img src="/images/hrj-ICHEP-circle.jpg" /></center></figure>
	  </article>
	</section>
</div>

{% include footerhome.html %}